DotNet/HelloWorld/bin/
DotNet/HelloWorld/obj/
DotNet/HelloWorld/.vscode
.vscode
DotNet/UnitTestingDemo/Calculations/bin/
DotNet/UnitTestingDemo/Calculations/obj/
DotNet/UnitTestingDemo/Calculations.Tests/bin/
DotNet/UnitTestingDemo/Calculations.Tests/obj/
DotNet/WebAppDemo/AspNetMvcDemo/bin/
DotNet/WebAppDemo/AspNetMvcDemo/obj/
DotNet/WebAppDemo/AspNetMvcDemo.Tests/bin/
DotNet/WebAppDemo/AspNetMvcDemo.Tests/obj/

DotNet/NumberGame/bin/
DotNet/NumberGame/obj/
DotNet/NumberGame/.vscode/

DotNet/LongStringTest/bin/
DotNet/LongStringTest/obj/
DotNet/LongStringTest/.vscode/
